appdirs==1.4.3
dj-database-url==0.4.2
Django==1.10.6
django-allauth==0.31.0
gunicorn==19.7.1
oauthlib==2.0.2
packaging==16.8
pkg-resources==0.0.0
psycopg2==2.7.1
pyparsing==2.2.0
python-openid==2.2.5
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
whitenoise==3.3.0
psycopg2==2.6.2