* {
	margin: 0;
	padding-top: 0;
	border: 0;
} /*this is the reset style */
body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	position: relative;
	background-color: #FFF;
}

p {
    padding: 2%;
    color: #4A4444;
    text-align: justify;
    letter-spacing: 2px;

}
.form-group {
    margin-bottom: 0;
    padding-top: 0;
}
.block-section {

    margin-bottom: 10px;
    padding-bottom:10%;
}
img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

h3 {
	color: white;
    font-size: 22px;
	letter-spacing: 2%;
}
h4 {
	color: white;
	letter-spacing: 1;
}
h2 {
	color: black;
	letter-spacing: 3px;
}
.navbar { margin-bottom:0px !important; }
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {
    min-height:70px !important
}
.carousel-caption { margin-top:0px !important }
.carousel-caption{
  padding-bottom: 300px;

}
.navbar-fixed-bottom {
min-height: 80px;
}
.header {padding-right: 0; padding-left: 0;}
.position {
	padding-bottom: 450px;
}
.row {
    margin-left: 40px;
    margin-right: 40px;
}
.panel-body{
    background-color: white;
}



.footer
  {
   background-color:#273140;
   position:fixed;
   bottom:0;
   height:2%;
  }

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: #23527c;
    transition: 0.3s;
    border-color: #b52525;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card2 {
    padding: 2px 16px;
    border-color: #00BFA5;

}

.text {
	color: white;
}

.text-center {
	text-align: center;
}
.text-center1 {
	text-align: center;
    background-color: #e1e1e1;
    height: 10%;
}
.column1 {
  background-color: #337ab7;
}
.column2 {
	background-color: #00BFA5;
}

.carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     display: block;
     max-width: 100%;
     width: 100%;
     line-height: 1;
     height: 800px !important;
 }
.navbar-brand {
	font-size: 35px;
}
.image {
	height: 750px;
	width: 100%;
	z-index: 1;
}

.text {
	text-align: center;
	font-size: 135%;

}
.col1 {
	background: #2979FF:
	font-size:135%;
}
.col2 {
	background: #2962FF:
}
/*-- start parallax --*/
.parallax {
	background-image: url(../img/four.jpg);
	min-height: 500px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.parallax-inner {
    padding-top: 90px;
    padding-bottom: 300px;
}

/*-- e
nd parallax --*/
@media screen and (max-width: 768px) {
	 .img {
        width: 100%;
    }
}

