* {
	margin: 0;
	padding-top: 0;
	border: 0;
} /*this is the reset style */
body {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	position: relative;
	background-color: #FFF;
    font-weight: 400;
    line-height: 1.4em;
}

p {
    padding: 2%;
    color: #333333;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 18px;

}
.form-group {
    margin-bottom: 0;
    padding-top: 0;
}
.block-section {

    margin-bottom: 10px;
    padding-bottom:20%;
}

h3 {
	color: white;



a {
    color: #ffffff;
    text-decoration: none;
}
.panel-body {
 border-top: 1px solid #ddd;}
}
.navbar { margin-bottom:0px !important;
color: #2a3f54;
}
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {
    min-height:70px !important
}
.navbar-fixed-bottom {
        min-height: 80px;
}
.header {padding-right: 0; padding-left: 0;}
.position {
	padding-bottom: 450px;
}
.row {
    margin-left: 40px;
    margin-right: 40px;
}
.panel-body{
    background-color: white;
}
.size {
    text-align: center;
    margin-bottom: 100px;
}


.footer
  {
   background-color:#2a3f54;
   position:fixed;
   bottom:0;
   height:2%;
  }

.main-header {
    background: #2a3f54;
    border-top: 0;
    min-height: 70px;
}
.navbar-default {
    background-color: #2a3f54;
}
.navbar-default {
    background-color: #F8F8F8 !important;
    border-color: #E7E7E7;
}
a {
color: #FFFFFF;
     background-color: transparent;
}
.nav.pad {
padding-top: 20px;
}
}
.main-navbar {
    min-height: 70px;
    background: white;
    border-top: 0;
}
.main-header .inner-hero-header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10;
  bottom: 0;
}
.inner {
    background: #2a3f54;
    padding-top: 50px;
}

.main-footer {
    background: #2a3f54;
    border-top: 0;
    padding-bottom: 20px;
    padding-bottom: 40px;
}
.container-fluid.padding {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.nav.links{
    padding-left: 0;
    padding-top: 30px;
    margin-bottom: 0;
    list-style: none;
}

.links li a {

    color: white;
    font-size: 20px;
    padding-top: 30px;

}
.linksfooter a {
    color: white;
    padding-top: 20px;
}
.link-footer a {
    padding-top: 20px;
}
.socials {
    padding-top: 40px;
    color: white;
}
.text-right {
    padding-top: 20px;
}

.search {
                padding:8px 15px;
                background: #23527c;
                border:0px solid #dbdbdb;
}
.searchbutton {
                position:relative;
                padding:6px 15px;
    height: 30px;
                background-color:#2a3f54;;
                color:#fafafa;
}
.searchbutton1 {
    background-color: white;
    width: 200px;
    height: 30px;

}
.searchbutton:hover  {
                background-color:#fafafa;
                color:#207cca;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 10px 20px 0 #2a3f54;
    transition: 0.3s;
    border-color: #b52525;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card2 {
    padding: 2px 16px 2px 16px;
    border-color: #00BFA5;

}

.text {
	color: white;
}
.list-inline li{
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    padding-top: 30px;
}

.text-center {
	text-align: center;
}
.text-center1 {
	text-align: center;
    color: white;
    height: 10%;
}
.navbar-inverse {
    background-color: #2a3f54 !important;

}


.navbar-brand {
	font-size: 35px;
}
.text {
	text-align: center;
	font-size: 135%;


@media screen and (max-width: 768px) {
	 .img {
        width: 100%;
    }
}

