<br><br><br>
{% extends "base.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <div class="container vertical-center">
        <form method="post" action="/accounts/login/">
    {% csrf_token %}
        <table>
        <tr>
            <td><label for="id_username">Username:</label></td>
            <td><input class="form-control" id="id_username" maxlength="254" name="username" type="text" /></td>
        </tr>
        <tr>
            <td><label for="id_password">Password:</label></td>
            <td><input class="form-control" id="id_password" name="password" type="password" /></td>
        </tr>
        </table>
            <a href="{% url 'project_list' %}"><button class="btn btn-primary" value="login">Login</button></a>
        </form>

    </div>
{% endblock %}
        </div>
        <div class="col-md-4"></div>
        </div>
        </div>