

<div>
{% extends 'base.html' %}
{% block content %}

<div class="block-section bg-color4">
  <div class="container">
    <div class="panel panel-md">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">Create account</p>


    <form method="POST" class="post-form">
       {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>

          </div>
        </div>
      </div>
    </div>
  <div class="white-space-20"></div>
    <div class="text-center color-white">Already a member? &nbsp;<a href="{% url 'login' %}"><strong class="color-white">Login</strong></a></div>
    </div>

{% endblock %}
</div>


