

<div>
{% extends 'base.html' %}
{% block content %}

<div class="block-section bg-color4">
  <div class="container">
    <div class="panel panel-md">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h4 class="text-center">Create account</h4>

<!-- form signup -->
             <form id="register-form" method="POST" action="">
              {% csrf_token %}
              <div class="form-group">
                <p><label for="id_email">Username</label></p>
                <input type="text" name="username" class="form-control" id="id_username" value="" tabindex="1" required="">
              </div>
              <div class="form-group">
                <p><label for="id_email">Email</label></p>
                <input type="email" name="email" class="form-control" id="id_email" tabindex="1" value="" required="">
              </div>
              <div class="form-group">
                <p><label for="id_email">Password</label></p>
                <input type="password" name="password" class="form-control" id="id_password" tabindex="1" value="" required="">
              </div>
              <div class="form-group">
                <p><label for="id_email">Password Confirmation</label></p>
                <input type="password" name="confirm_password" class="form-control" id="id_password" value="" tabindex="2" required="">
              </div>
                 <div class="white-space-10"></div>
              <div class="form-group">
               <a href="{% url 'project_list' %}"> <button type="submit" class="btn  btn-primary" tabindex="3" value="register">Sign Up</button></a>
              </div>
                 <div class="white-space-10"></div>
            </form><!-- form login -->

          </div>
        </div>
      </div>
    </div>
    <div class="text-center color-white">Already a member? &nbsp;<a href="{% url 'login' %}"><strong class="color-white">Login</strong></a></div>
    </div>

{% endblock %}
</div>
</div>


