{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <script type="text/javascript" src="{%  static 'gigs_files/shares.json'  %}"></script><script type="text/javascript" src="{% static 'gigs_files/saved_resource' %}"></script><script type="text/javascript" src="{% static 'gigs_files/share' %}"></script><script type="text/javascript" src="{% static 'gigs_files/300lo.json' %}"></script><script type="text/javascript" src="{% static 'gigs_files/_ate.track.config_resp' %}"></script>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Job board and aggregator for programming jobs.Sign up today to post jobs, get job alerts, save job postings and add notes to them, and receive messages from potential employers.">

      <!-- Twitter tags -->
      <meta property="twitter:card" content="summary">
      <meta property="twitter:site" content="@remotepython">
      <title>Find remote Python jobs and developers. | RemotePython.com</title>
      <link rel="stylesheet" href="{% static 'gigs_files/b8e219fb9ca2.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">

   </head>
   <body style="">
      <!-- wrapper page -->
      <div class="wrapper">
         <!-- main-header -->
         <header class="main-header">
            <!-- main navbar -->
            <nav class="navbar navbar-inverse main-navbar hidden-sm hidden-xs">
               <div class="container">
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                     <ul class="nav navbar-nav">
                        <li><a href="{% url 'project_list' %}"><button class="btn btn-default">Find Project</button></a> </li>
                        <li><a href="{% url 'project_new' %}"><button class="btn btn-default">Post Project</button></a> </li>
                        <li><a href="{% url 'login' %}"><button class="btn btn-default">Get Alerts</button></a> </li>
                     </ul>
                     <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'login' %}"><button class="btn btn-default">Login</button></a> </li>
                        <li><a href="{% url 'register' %}"><button class="btn btn-default">Sign up</button></a>
                    </li>
                     </ul>
                  </div>
               </div>
            </nav>
            <!-- end main navbar -->
<div class="container">
  <div class="white-space-50"></div>
  <h3 class="text-center">Sidegigs</h3 class="text-center">
    <div class="white-space-50"></div>
</div>


      </header><!-- end main-header -->
    {% block content %}
    {% endblock %}

        <!-- main-footer -->
      <footer class="main-footer navbar-fixed-bottom">
         <div class="container">
            <div class="row">
               <div class="col-sm-6">
                  <ul class="list-inline link-footer text-center-xs">
                     <li><a href="https://twitter.com/Tessie_Waithira/">Home</a></li>
                     <li><a href=https://twitter.com/Tessie_Waithira>About Us</a></li>
                     <li><a href=https://twitter.com/Tessie_Waithira>Contact Us</a></li>
                  </ul>
               </div>
               <div class="col-sm-6 ">
                  <p class="text-center-xs hidden-lg hidden-md hidden-sm">Stay Connected</p>
                  <div class="socials text-right text-center-xs">
                     <a href="https://github.com/TessieWaithira"><i class="fa fa-2x fa-github"></i></a>
                     <a href="https://twitter.com/Tessie_Waithira"><i class="fa fa-2x fa-twitter"></i></a>
                     <a href="https://web.facebook.com/tessie.waithira"><i class="fa fa-2x fa-facebook"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end main-footer -->

   </body>
</html>