{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <br><br><br><br><br><br><br>
        <div class="page-header">
            {% if user.is_authenticated %}
                <div class="text-center">
                    <p class="text-center">Hello {{ user.username }} these are the available projects</p><br>
                    <a href="{% url 'project_new' %}"><button class="btn btn-primary">Add Project</button></a>
                    <a href="{% url 'logout' %}"><button class="btn btn-primary">Logout</button></a></br></br>

                     <form action="" method="GET">
                         <input type="text"name="q" placeholder="Search project" value="{{ request.GET.q }}"/>
                         <input type="submit" value="Search"/>
                     </form>
                </div>


            {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
        </div>
    </div>
    {% for project in projects %}
    <div class="container text-center">
        {{ project.created_date }}
        {{ project.project_owner }}
            <h1><a href="{% url 'project_detail' pk=project.pk %}">{{ project.project_title }}</a></h1>
            <p>{{ project.short_pitch|linebreaksbr }}</p>
    </div>
    {% endfor %}

     <div class="pagination">
    <span class="step-links">

            <a href="?page=1">previous</a>

        <span class="current">
            Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
        </span>

        {% if projects.has_next %}
            <a href="?page={{ projects.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
{% endblock %}