<div>
{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row text-center">
             <form method="POST" class="post-form">
            {% csrf_token %}
          <div class="form-group">
            <label for="id_project_title">Project title*</label>
            <input id="id_project_title" type="text" name="project_title" value="" class="form-control" placeholder="Example: Android/Web app">
          </div>
          <div class="form-group">
            <label for="id_short_pitch">Short description*</label>
            <textarea cols="10" id="id_short_pitch" class="form-control" name="short_pitch" rows="10"> </textarea></p>
          </div>
          <div class="form-group">
               <p class="text-center">Enter a category your job category</p>
            <label for="id_category">Category*</label>
              <select name="category">
                  <option value="android">Android</option>
                  <option value="web">Web</option>
                  <option value="ui/ux">UI/UX</option>
              </select>
          </div>

          <div class="form-group">

              <button type="submit" class="btn btn-t-primary btn-theme">Submit</button>

          </div>

        </form> <!-- End form post/update a job -->
        </div>
    </div>
{% endblock %}
</div>