{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
   <head>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <script type="text/javascript" src="{%  static 'gigs_files/shares.json'  %}"></script><script type="text/javascript" src="{% static 'gigs_files/saved_resource' %}"></script><script type="text/javascript" src="{% static 'gigs_files/share' %}"></script><script type="text/javascript" src="{% static 'gigs_files/300lo.json' %}"></script><script type="text/javascript" src="{% static 'gigs_files/_ate.track.config_resp' %}"></script>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Job board and aggregator for programming jobs.Sign up today to post jobs, get job alerts, save job postings and add notes to them, and receive messages from potential employers.">

      <!-- Twitter tags -->
      <meta property="twitter:card" content="summary">
      <meta property="twitter:site" content="@remotepython">
      <title>Find remote Python jobs and developers. | RemotePython.com</title>
      <link rel="stylesheet" href="{% static 'gigs_files/b8e219fb9ca2.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">

   </head>
   <body style="">
      <!-- wrapper page -->
      <div class="wrapper">
         <!-- main-header -->
         <header class="main-header">
            <!-- main navbar -->
            <nav class="navbar navbar-default main-navbar hidden-sm hidden-xs navbar-fixed-top">
               <div class="container">
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                     <ul class="nav navbar-nav">
                        <li><a href="{% url 'project_list' %}"><h3>Find Jobs</h3> </a> </li>
                        <li><a href="{% url 'project_new' %}"><h3>Post Project</h3></a></li>
                        <li><a href="{% url 'login' %}"><h3>Get Alerts</h3></a> </li>
                     </ul>
                     <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'login' %}"><h3>Login</h3></a> </li>
                        <li><a href="{% url 'register' %}"><h3>Sign up</h3></a>
                    </li>
                     </ul>
                  </div>
               </div>
            </nav>
            <!-- end main navbar -->
             <!-- mobile nav-bar -->
             <div class="container">
                <nav class="mobile-nav hidden-md hidden-lg">
                    <a href="#" class="btn-nav-toogle" data-toggle="collapse" data-target=".navBarCollapse">
                        <span class="bars"></span>Menu
                    </a>
                <div class="mobile-nav-block">
                <h4>Navigation</h4>
                <a href="#" class="btn-nav-toogle">
                <span class="barsclose"></span>Close
                </a>
                <div class="collapse navbar-collapse navBarCollapse">
                     <ul class="nav navbar-nav collapse navHeaderCollapse">
                    <li><a href="{% url 'project_list' %}"><button class="btn btn-default">Find Jobs</button> </a> </li>
                    <li><a href="{% url 'project_new' %}"><button class="btn btn-default">Post Project</button></a></li>
                    <li><a href="{% url 'login' %}"><button class="btn btn-default">Get Alerts</button></a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'login' %}"><button class="btn btn-default">Login</button></a> </li>
                    <li><a href="{% url 'register' %}"><button class="btn btn-default">Sign up</button></a></li>
                </ul>
                </div>
                </nav>
             </div>
             <!-- end mobile navbar -->


               <div class="inner-hero-header">
                  <div class="container">
                      <br>
                     <h3 class="text-center">Sidegigs </h3>
                    <div class="relative">
                        <i class="fa fa-globe ic-fade-globe"></i>
                        <!-- form search -->
                        <form class="form" action="" method="GET">
                           <div class="row text-center">
                                 <div class="form-group">
                                    <input name="q" placeholder="job title, skills" value="{{ request.GET.q }}">
                                      <button class="btn btn-t-primary">Search</button>
                                 </div>
                            </br>
                           </div>


                        </form>
                        <!-- end form search -->
                     </div>
                  </div>
               </div>

         </header>
         <!-- end main-header -->

         <!-- body-content -->
          <div class="body-content clearfix">
            <div class="block-section bg-color1">
               <div class="container">
               <div class="page-header">
            {% if user.is_authenticated %}
                <div class="text-center">
                    <p class="text-center">Hello {{ user.username }} these are the available projects</p>
                    <a href="{% url 'project_new' %}"><button class="btn btn-t-primary btn-theme">Add Project</button></a>
                    <a href="{% url 'logout' %}"><button class="btn btn-t-primary btn-theme">Logout</button></a></br></br>
                </div>
            {% endif %}
                </div>
                  <div class="container-fluid">
                     <div class="row">
                        <div class="item">
                           <div class="row">
                              <div class="col-md-12">
                                {% for project in projects %}
                                    <div class="card text-center ">
                                         <h1><a href="{% url 'project_detail' pk=project.pk %}">{{ project.project_title|upper }}</a></h1>
                                         <p>{{ project.short_pitch|linebreaksbr|truncatechars:80 }}</p>
                                        <p class="pull-left">  {{ project.project_category }}</p>
                                        <p class="pull-right"> {{ project.created_date }}
                                        {{ project.project_owner }}</p>
                                        </br>
                                    <div class="white-space-10"></div>


                                    </div>
                                    <hr class="line-color">
                                {% endfor %}                                 
                              </div>
                           </div>
                        </div>
                    </div>
                    <div class="container text-center">
                       <div class="pagination">
                         <span class="step-links">
                         <a href="?page=1">previous</a>
                         <span class="current">
                          Page {{ projects.number }} of {{ projects.paginator.num_pages }}
                         </span>
                        {% if projects.has_next %}
                        <a href="?page={{ projects.next_page_number }}">next</a>
                        {% endif %}
                         </span>
                      </div>                      
                    </div>                    
                  </div>
                </div>
            </div>
          </div>
          
      <!--end body-content -->
         <!-- main-footer -->
      <footer class="main-footer">
         <div class="container">
            <div class="row">
               <div class="col-sm-6">
                  <ul class="list-inline link-footer text-center-xs">
                     <li><a href="https://twitter.com/Tessie_Waithira/">Home</a></li>
                     <li><a href=https://twitter.com/Tessie_Waithira>About Us</a></li>
                     <li><a href=https://twitter.com/Tessie_Waithira>Contact Us</a></li>
                  </ul>
               </div>
               <div class="col-sm-6 ">
                  <p class="text-center-xs hidden-lg hidden-md hidden-sm">Stay Connected</p>
                  <div class="socials text-right text-center-xs">
                     <a href="https://github.com/TessieWaithira"><i class="fa fa-2x fa-github"></i></a>
                     <a href="https://twitter.com/Tessie_Waithira"><i class="fa fa-2x fa-twitter"></i></a>
                     <a href="https://web.facebook.com/tessie.waithira"><i class="fa fa-2x fa-facebook"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end main-footer -->
      <!-- end wrapper page -->
    
   </body>
</html>