{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row text-center">
     <form method="POST" class="post-form">
        {% csrf_token %}
       {% if project.project_owner %}
            <p><label for="id_project_title">Project title:</label> <input id="id_project_title" maxlength="50" name="project_title" type="text" class="form-control" value="{{ project.project_title }}" required /></p>
         <div class="form-group">
              <p>Projects Category*</p>
           <select name="project_category" class="form-control" value="{{ project.project_category }}">
               <option value="Android">Android</option>
               <option value="CMS">CMS</option>
           </select>
         </div>
        <p><label for="id_short_pitch">Short pitch:</label> <textarea cols="40" id="id_short_pitch" name="short_pitch" rows="10" class="form-control" required>
        {{ project.short_pitch }}
        </textarea></p>
        <a href="{% url 'project_list' %}" ><button type="submit" class="save btn btn-primary btn-lg">Save</button></a>
       {% endif %}
     </form>
</div>
</div>
  <div class="white-space-50"></div>
{% endblock %}
